<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teacherwl.eblog.mapper.MCommentMapper">
<select id="selectComments" resultType="com.teacherwl.eblog.vo.MCommentVo">
        select c.*,
        u.avatar as userAvatar,
        u.username as userName
        from m_comment c
        left join m_user u on u.id=c.user_id
${ew.customsqlSegment}
</select>
</mapper>
